* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .8rem;
}

header .navbar a:hover {
  color: var(--orange);
}

#navbar {
  background: #f9f9f9;
}

#logo {
  font-size: 36px;
  font-weight: 550;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}

#logo span {
  color: #2c0ca0;
}

.navbar-toggler span {
  color: #2c0ca0;
}

.navbar-nav {
  margin-left: 200px;
}

.nav-item .nav-link {
  font-size: 20px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}

.nav-item .nav-link:hover {
  background-color: #2c0ca0;
  color: white;
}
/*navbar end */

/* Home Section Styles */
.home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('img/6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home .content {
  text-align: center;
  padding-top: 110px;
}



.home .content h1 {
  color: white;
  font-size: 70px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}

.changecontent::after {
  content: '  ';
  color: #2c0ca0;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
}



@keyframes changetext {
  0% {
      content: " France";
  }
  10% {
      content: " Spain";
  }
  20% {
      content: " USA";
  }
  30% {
      content: " China";
  }
  40% {
      content: " India";
  }
  50% {
      content: " pakistan";
  }
  60% {
      content: " Italy";
  }
  70% {
      content: " turkey";
  }
  80% {
      content: " Mexico";
  }
  90% {
      content: " Germany";
  }
  100% {
      content: " United kingdom";
  }
}

.home .content a {
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}

.home .content a:hover {
  background: #2c0ca0;
  color: white;
}

/*Home section end */


/* Book Section Start */

.book {
  background: #f9f9f9;
  padding: 50px;
}

.main-text h1 {
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
}

.main-text h1 span {
  color: #2c0ca0;
}

.book .input-container {
  text-align: center;
  margin-top: 20px;
}
.book input[type="text"],
.book input[type="date"] {
  width: 250px;
}



.book input[type="text"],
.book input[type="date"]
{
  display: inline-block;
  padding: 10px;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 5px -6px black;
  margin-bottom: 10px;
  vertical-align: middle; 
}

.book button[type="submit"]:hover{
  color: aqua;
}


.book input[type="text"],
.book input[type="date"]
{
  display: inline-flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 5px -6px black;
  margin-bottom: 10px;
  vertical-align: middle; 
}

.book button[type="submit"] {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 160px;
  font-size: 16px;
  font-weight: 550;
  background: #2c0ca0;
  color: white;
  border: none;
  margin: 10px;
  transition: 0.5s;
} 



/* Book section end */












 /* section package start */ 
  
 .main-txt h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  
  }
  .main-txt h1 span{
  color: #2c0ca0;
  
  }
  .packages .card{
      border-radius: 5px;
      border: none;
      box-shadow: rgba(0,0,0,0.1) 0px 4px 12px ;
      margin:20px;
  }
  
  .packages .card img{
  border-radius: 5px;
  
  }
  .packages .car .card-body{
  background: transparent;
  
  }
  .packages .car .card-body h3 {
  font-size: 25px;
  font-weight: 600;
  
  }
  .packages .car .card-body p{
      font-size: 15px;
  }
  .cheked{
      color: #2c0ca0;
  }
  .star i {
      font-size: 15px;
  }
  .packages .car .card-body h6{
      font-size: 20px;
  }
  .packages .car .card-body a{
     
      padding: 10px;
      text-decoration: none;
      background: #2c0ca0;
      color: white;
      border-radius: 5px;
  
  }
  
  /* section package end */ 
  

  

  
  /* footer start */
  
  #footer{
      width: 100%;
      margin-top: 150px;
      text-align: center;
      background: #f9f9f9;
  
  }
  #footer h1 {
  font-weight: 600;
  padding-top: 30px;
  text-shadow: 0px 0px 1px black;
  }
  #footer h1 span{
  color: #2c0ca0;
  }
  .social-links i{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  }
  .social-links i:hover{
  background: #2c0ca0;
  
  }
  
  
  /*footer end */