@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.user-login {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.user-login i {
  font-size: 150%;
  display: flex;
  align-items: center;
}

.user-login input {
  width: 75%;
  padding: 2%;
  font-size: 85%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 5px;
}

input:focus {
  border-color: #00abe4;
  box-shadow: 0 0 8px #00abe4;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5%;
}

.button a {
  display: flex;
  width: 10vw;
  height: 5vh;
  font-size: 14px;
  margin: 5%;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #00abe4;
  color: #fff7f7;
}

.button:hover a {
  background-color: #007197;
}

.header-right {
  display: flex;
  gap: 20px;
}

.header-btn {
  padding: 1%;
  border-radius: 10px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #3ab8ff;
  transition: background-color 0.3s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}
