body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  background-image: url("/frontend/assets/auth-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  gap: 30px;
}
.wrapper {
  position: relative;
  margin: 5%;
  z-index: 1;
  width: 40%;
  height: auto;
  gap: 30px;
  border-radius: 14px;
  background-color: rgb(26, 67, 240, 0.5);
}
.buttons-wrapper {
  flex-direction: column;
}

.signup-title {
  padding: 5%;
  font-size: 100%;
  color: #fbfbfb;
}

.error-message {
  font-size: 100%;
  color: red;
}

.user-login-radio {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
}

.radio-btn {
  color: #fbfbfb;
}

.login-link {
  color: #fbfbfb;
}
.login-link a {
  color: #3ab8ff;
}
.login-link a:hover {
  cursor: pointer;
  color: #7587dd;
}
