body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #00abe4;
  background-image: url("/frontend/assets/auth-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50vh;
  gap: 30px;
}

.signin-title {
  color: #fbfbfb;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 35%;
  margin-top: 10%;
  gap: 50px;
  border-radius: 14px;
  background-color: rgb(26, 67, 240, 0.5);
}

.login-link .signin-title {
  margin-top: 5%;
  font-size: 100%;
}

.login-link a {
  color: #3ab8ff;
}

.login-link {
  color: #fbfbfb;
}

.login-link a:hover {
  cursor: pointer;
  color: #7587dd;
}

.signin-title {
  margin: 5%;
}

.buttons-wrapper {
  flex-direction: column;
}

.error-message {
  font-size: 100%;
  color: red;
}
